/* Optimise : Thu, 20 July 2019 13:13:21 */
@charset "UTF-8";

html,body {
margin:0;
padding:0;
height:100%
}

a {
text-decoration:none
}

div {
box-sizing:border-box
}

.ui-index {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-index .col-12 {
margin:100px 0
}

.ui-index li {
margin-bottom:20px
}

.ui-index li a {
font-weight:700
}

.ui-001 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-001 .right-side {
height:100vh
}

.ui-001 .left-side {
height:100vh;
background:url(../img/background-001.jpg) center top
}

.ui-001 .left-side .left-side-section1 {
top:0
}

.ui-001 .left-side .left-side-section2 {
margin:auto;
top:40%
}

.ui-001 .left-side .left-side-section3 {
width:60px;
bottom:20px
}

.ui-001 .right-side .menu {
padding:20px
}

.ui-001 .right-side .copyright {
width:150px;
bottom:10px;
right:30px
}

.ui-001 .sign-up-form {
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
padding:20px;
box-shadow:0 0 3px #fff;
border-radius:20px;
max-height:300px
}

.ui-001 .sign-up-form h2 {
border-bottom:1px solid #e74c3c;
padding-bottom:10px;
width:60px;
margin-bottom:20px
}

.ui-001 .sign-up-form input {
margin-bottom:20px
}

.ui-001 .sign-up-form input[type="text"],.ui-001 .sign-up-form input[type="password"] {
outline:none;
padding:5px;
width:100%;
box-sizing:border-box;
font-size:2vh
}

.ui-001 .sign-up-form input[type="submit"] {
padding:5px;
width:80%;
box-sizing:border-box;
border-radius:20px;
cursor:pointer;
font-size:1.5vh
}

.ui-002 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-002 .main-box {
margin-top:100px;
display:block
}

.ui-002 .left-side {
min-height:500px;
padding:25px
}

.ui-002 .right-side {
min-height:500px;
padding:5px
}

.ui-002 .product-image {
margin:50px 0 0 -100px
}

.ui-002 .container {
box-shadow:0 0 1000px #555;
padding:0
}

.ui-002 .price {
line-height:0;
margin-top:50px;
letter-spacing:5px
}

.ui-002 .pay-form {
width:90%
}

.ui-002 .pay-form label {
width:100%;
letter-spacing:5px;
color:#666
}

.ui-002 .pay-form input[type="text"] {
border:none;
border-bottom:1px solid #666;
width:95%;
padding:5px;
box-sizing:border-box;
outline:none;
font-size:20px;
padding-bottom:10px;
padding-left:0;
letter-spacing:5px;
margin-top:10px
}

.ui-002 .pay-form input[type="submit"] {
border-radius:50px;
padding:20px 40px;
box-sizing:border-box;
border:none;
cursor:pointer;
width:100%;
margin-top:10px
}

.ui-002 .pay-form #cvs,.ui-002 .pay-form #expiredate {
width:98%!important
}

.ui-002 .pay-form .section1 {
margin-bottom:100px
}

.ui-002 .pay-form .section2 {
margin-bottom:100px
}

.ui-002 .pay-form .section1 input {
width:100%!important
}

.ui-002 .pay-form .section1 span {
color:#34495e
}

.ui-003 {
overflow-y:hidden;
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-003 .header .header-top .navbar li {
margin-left:40px
}

.ui-003 .header .header-bottom {
padding:20px 0
}

.ui-003 .header .header-bottom .information {
letter-spacing:3px
}

.ui-003 .header .header-bottom .information p span:nth-child(even) {
width:200px;
display:inline-block
}

.ui-003 .header .header-bottom .heading {
padding-top:28.8px
}

.ui-003 .content {
width:100%;
min-height:75vh;
background:url(../img/background-003.jpg);
background-size:cover
}

.ui-003 .form form {
border-radius:15px;
padding:20px;
background:#eee;
margin-top:70px
}

.ui-003 .form table {
width:100%;
max-width:500px
}

.ui-003 .form td:nth-child(1),.ui-003 .form td:nth-child(3) {
width:48%
}

.ui-003 .form table input[type="text"] {
outline:none;
border:1px solid #aaa;
padding:10px;
width:100%;
box-sizing:border-box;
margin-bottom:10px
}

.ui-003 .form table select {
outline:none;
border:1px solid #aaa;
padding:10px;
width:100%;
box-sizing:border-box;
margin-bottom:10px
}

.ui-003 .form table .flight-type {
border:none!important;
background:#eee;
width:110px
}

.ui-003 .form table input[type="submit"] {
outline:none;
border:none;
cursor:pointer;
padding:10px 50px;
box-sizing:border-box;
border-radius:20px;
margin-top:20px
}

.ui-003 .form .copyright {
margin-top:15px
}

.ui-004 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-004 .main-container {
padding:200px 0
}

.ui-004 .calculator {
box-shadow:0 0 500px #000
}

.ui-004 .display {
min-height:200px;
padding:20px
}

.ui-004 .operation {
line-height:0;
letter-spacing:3px
}

.ui-004 .result {
line-height:0;
letter-spacing:5px
}

.ui-004 .keyboard {
min-height:300px;
padding:20px
}

.ui-004 .key-button {
margin-bottom:10px;
padding-top:30px;
height:90px;
border-radius:100%;
cursor:pointer
}

.ui-004 .key-indent {
padding:5px
}

.ui-005 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-005 .app-icon {
padding-top:70px
}

.ui-006 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-006 .user-profile {
padding-top:100px
}

.ui-006 .user-profile .shadow-box {
box-shadow:0 0 150px #7f8c8d;
max-height:550px
}

.ui-006 .avatar-box img {
width:100%
}

.ui-006 .avatar-box .follow-button {
cursor:pointer;
letter-spacing:3px;
margin:-100px 180px
}

.ui-006 .avatar-box .follow-button p {
box-shadow:0 0 50px #2980b9;
border-radius:50px;
padding:15px 50px
}

.ui-006 .profile-box {
max-height:550px;
padding:50px
}

.ui-006 .profile-box .biography {
line-height:40px;
margin:20px 0
}

.ui-006 .profile-box h5 {
letter-spacing:5px
}

.ui-006 .profile-box .number {
letter-spacing:3px
}

.ui-007 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-007 .navbar-setting,.ui-007 .content-setting {
height:100vh
}

.ui-007 .navbar-setting h1 {
border-bottom:1px solid #fff;
padding-bottom:30px;
text-indent:20px
}

.ui-007 .navbar-setting ul {
width:100%;
box-sizing:border-box;
margin:0;
padding:0
}

.ui-007 .navbar-setting li {
margin-bottom:30px;
width:100%;
padding:10px 0;
text-indent:30px
}

.ui-007 .navbar-setting ul .active {
border-right:25px solid #000
}

.ui-007 .content-setting {
padding:100px
}

.ui-007 .content-setting .row {
margin-bottom:50px
}

.ui-007 .content-setting .row p {
line-height:40px
}

.ui-007 .on-off {
border-radius:50px;
width:70px;
height:40px;
padding:10px;
cursor:pointer;
margin-right:30px
}

.ui-007 .on-off .on-button {
width:20px;
height:20px;
border-radius:100%;
border:1px solid #eee;
cursor:pointer
}

.ui-007 .on-off .off-button {
width:20px;
height:20px;
border-radius:100%;
border:1px solid #eee;
cursor:pointer
}

.ui-007 .copyright {
border-top:1px solid #fff;
bottom:0;
text-indent:20px;
padding-right:50px
}

.ui-008 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-008 .page-404 {
margin:70px auto
}

.ui-008 .search-box {
width:100%;
padding:20px;
border-radius:10px;
border:1px solid #000;
margin-top:30px;
outline:none;
box-sizing:border-box
}

.ui-008 .image-box {
margin-top:30px
}

.ui-008 .image-box .col-3 {
padding:25px
}

.ui-008 .image-box .col-3 a {
width:100%;
height:100%
}

.ui-008 .image-box .col-3 p {
line-height:30px
}

.ui-008 .copyright {
border-top:1px solid #000;
margin-top:30px
}

.ui-009 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-009 .music-player {
margin:100px auto 0;
min-height:400px;
padding:50px;
box-sizing:border-box
}

.ui-009 .music-image img {
border-radius:20px
}

.ui-009 .current-play {
letter-spacing:2px;
line-height:30px
}

.ui-009 .music-progress {
margin:30px 0 50px
}

.ui-009 .progressbar {
height:4px;
border-radius:10px;
margin-top:12px
}

.ui-009 .progressbar-played {
height:4px
}

.ui-009 .music-controller {
margin-bottom:20px
}

.ui-009 .music-controller .col-4 div {
border-radius:100%;
border:1px solid #bdc3c7;
padding:20px;
cursor:pointer;
width:65px;
height:65px;
box-shadow:0 0 5px #bdc3c7
}

.ui-009 .copyright {
margin-bottom:100px
}

.ui-010 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-010 .social-box {
margin:100px 0
}

.ui-010 .social-box .social-share-button {
margin-bottom:50px;
border-radius:20px;
padding:20px;
cursor:pointer;
box-shadow:0 0 20px #555
}

.ui-010 .social-box .facebook {
background-color:#3b5998
}

.ui-010 .social-box .instagram {
background-color:#c13584
}

.ui-010 .social-box .twitter {
background-color:#1da1f2
}

.ui-010 .social-box .telegram {
background-color:#08c
}

.ui-010 .social-box .linkedin {
background-color:#0077b5
}

.ui-010 .copyright {
margin-top:70px;
border-top:1px solid #000
}

.ui-010 .black-empty-border {
border-top:1px solid #000;
margin-bottom:70px
}

.ui-011 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-011 .flash-message-box {
margin:150px 0
}

.ui-011 .flash-message-close span {
cursor:pointer
}

.ui-011 .flash-message {
border-radius:25px;
padding:20px
}

.ui-011 .success-message {
box-shadow:0 0 200px #27ae60
}

.ui-011 .unsuccess-message {
box-shadow:0 0 200px #c0392b
}

.ui-011 .flash-message-button {
padding:20px;
border-radius:25px;
cursor:pointer;
min-width:200px;
box-shadow:0 0 20px #aaa
}

.ui-011 .copyright {
margin-top:50px;
border-top:1px solid #000
}

.ui-012 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-012 .left-shop {
height:100vh
}

.ui-012 .right-shop {
min-height:100vh
}

.ui-012 .right-shop .back-to {
letter-spacing:1px
}

.ui-012 .right-shop .back-to span {
margin-right:30px
}

.ui-012 .right-shop .avatar {
border-radius:100%;
border:1px solid #ecf0f1;
padding:10px
}

.ui-012 .left-shop .top-left-shop {
padding:33px
}

.ui-012 .left-shop h1,.ui-012 .left-shop h2 {
letter-spacing:7px;
line-height:0
}

.ui-012 .right-shop .top-right-shop {
padding:50px
}

.ui-012 .right-shop .product-item .product-price {
letter-spacing:2px
}

.ui-012 .right-shop .product-item a {
display:inline
}

.ui-012 .right-shop .bottom-right-shop {
min-height:100vh;
padding:50px 0
}

.ui-012 .right-shop .username {
margin-left:25px;
cursor:pointer
}

.ui-012 .bottom-left-shop {
padding:30px
}

.ui-012 .bottom-left-shop .category {
line-height:50px;
margin-top:70px!important
}

.ui-012 .bottom-left-shop .category li,.ui-012 .bottom-left-shop .category {
margin:0;
padding:0;
list-style:none
}

.ui-012 .copyright {
bottom:-150px;
border-top:1px solid #000
}

.ui-013 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-013 .container {
padding:70px 0
}

.ui-013 .chat-box {
box-shadow:0 0 50px #bdc3c7
}

.ui-013 .chat-messages {
min-height:500px;
padding:20px
}

.ui-013 .chat-messages .message-item {
padding:15px;
border-radius:20px;
margin-bottom:20px
}

.ui-013 .chat-controller {
padding:20px
}

.ui-013 .chat-controller input[type="text"] {
padding:10px;
outline:none;
border-radius:25px;
border:1px solid #bdc3c7
}

.ui-013 .chat-controller input[type="submit"] {
border-radius:25px;
border:none;
cursor:pointer;
padding:10px
}

.ui-013 .chat-person {
padding:20px
}

.ui-013 .chat-person .chat-person-image img {
border-radius:100%;
box-shadow:0 0 30px #bdc3c7
}

.ui-013 .chat-person .chat-person-dispaly-name {
margin:17px 0 0 15px
}

.ui-014 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-014 .timer-box {
box-shadow:0 0 50px #bdc3c7;
padding:30px;
margin:50px auto!important;
border-bottom:5px solid #c0392b
}

.ui-014 .timer-box .number-pad {
padding:50px 20px 0;
border-radius:100%;
width:100px;
height:90px;
border:3px solid #c0392b
}

.ui-014 .timer-box .countdown-timer {
margin-bottom:50px
}

.ui-015 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-015 .on-off {
border-radius:50px;
width:70px;
height:40px;
padding:10px;
cursor:pointer;
margin-bottom:30px
}

.ui-015 .on-off .on-button {
width:20px;
height:20px;
border-radius:100%;
border:1px solid #eee;
cursor:pointer
}

.ui-015 .on-off .off-button {
width:20px;
height:20px;
border-radius:100%;
border:1px solid #eee;
cursor:pointer
}

.ui-015 .row {
margin:100px auto!important
}

.ui-015 .free-line {
height:1px;
margin-bottom:40px
}

.ui-015 .copyright {
border-top:1px solid #000;
padding-top:20px
}

.ui-016 {
width:100%;
height:100%;
margin:0;
padding:0;
overflow-y:hidden
}

.ui-016 .row {
margin:200px 0
}

.ui-016 .popup-box {
border-radius:15px;
padding:20px;
margin:200px auto
}

.ui-016 .popup-box .join-button {
padding:10px 40px;
border-radius:30px;
cursor:pointer
}

.ui-017 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-017 .email-receipt {
margin:100px auto
}

.ui-017 .right-email-receipt {
min-height:500px;
padding:30px
}

.ui-017 .left-email-receipt {
min-height:500px
}

.ui-017 .left-email-receipt p {
top:260px
}

.ui-017 .right-email-receipt hr {
height:1px!important;
background-color:#fff!important;
border:none!important
}

.ui-017 .right-email-receipt p {
line-height:60px
}

.ui-017 .right-email-receipt .total-p {
bottom:170px;
border-top:1px solid #fff;
width:430px;
padding-top:10px
}

.ui-017 .right-email-receipt .receipt-title {
border-bottom:1px solid #fff;
padding-bottom:20px
}

.ui-018 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-018 .my-chart {
border:1px solid #c0392b;
border-radius:25px;
padding:0;
margin:150px auto!important
}

.ui-018 .my-chart .chart-bar {
margin:20px 0
}

.ui-018 .my-chart .chart-bar .chart-bar-item {
margin:0 15px
}

.ui-018 .my-chart .chart-bar-1 {
height:100px;
top:100px;
margin-right:21px!important
}

.ui-018 .my-chart .chart-bar-2 {
height:140px;
top:60px
}

.ui-018 .my-chart .chart-bar-3 {
height:10px;
top:190px
}

.ui-018 .my-chart .chart-bar-4 {
height:30px;
top:170px;
margin-right:5px!important
}

.ui-018 .my-chart .chart-bar-5 {
height:160px;
top:40px;
margin-right:30px!important
}

.ui-018 .my-chart .chart-bar-6 {
height:80px;
top:120px;
margin-right:24px!important
}

.ui-018 .my-chart .chart-bar-7 {
height:110px;
top:90px;
margin-right:12px!important
}

.ui-018 .my-chart .header-chart {
padding:10px;
border-top-right-radius:25px;
border-top-left-radius:25px
}

.ui-018 .my-chart .chart-text p {
padding:7px;
border-top:1px solid #c0392b;
margin-top:20px
}

.ui-018 .copyright {
margin-top:-130px
}

.ui-019 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-019 .container {
margin:100px auto
}

.ui-019 .leaderboard {
padding:50px;
border-radius:15px
}

.ui-020 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-020 .sidebar-right {
background-image:url(../img/maps-020.png);
background-size:cover;
min-height:400px;
box-shadow:0 0 20px #aaa
}

.ui-020 .sidebar-left {
min-height:400px;
padding:20px;
box-shadow:0 0 20px #aaa
}

.ui-020 .sidebar-left .arrow {
padding-top:12px;
cursor:pointer
}

.ui-020 .sidebar-left .circle {
width:20px;
height:20px;
border-radius:100%
}

.ui-020 .container {
margin:100px auto!important
}

.ui-021 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-021 .container {
margin:50px auto!important
}

.ui-021 .header {
border-radius:25px;
padding:20px
}

.ui-021 .monitor-box {
padding:20px;
border-radius:25px
}

.ui-021 .navbar li {
margin-top:20px!important;
margin-right:30px;
cursor:pointer
}

.ui-022 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-022 .container {
margin:200px auto 0!important
}

.ui-022 .search-input {
border-radius:25px;
outline:none;
padding:20px;
width:50%;
letter-spacing:3px
}

.ui-022 .search-submit {
border-radius:25px;
padding:10px 70px
}

.ui-023 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-023 .container {
margin:100px auto!important
}

.ui-023 .container h1 {
padding-bottom:20px;
border-bottom:3px solid #16a085
}

.ui-023 .container .float-left p {
border-radius:100%;
border:3px solid #16a085;
padding:20px 30px
}

.ui-023 .container .float-right p {
padding-top:20px
}

.ui-023 .container .copyright {
margin-top:50px!important
}

.ui-023 .container .copyright p {
padding-top:20px;
border-top:1px solid #16a085
}

.ui-024 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-024 .pass-box {
border-radius:25px;
margin:200px auto!important;
padding:20px;
box-sizing:border-box;
box-shadow:0 0 100px #2c3e50
}

.ui-025 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-025 .header {
margin-top:50px
}

.ui-025 .menu {
margin:70px auto!important
}

.ui-025 .menu ul {
margin:0;
padding:0
}

.ui-025 .header .navbar-box {
padding-top:60px
}

.ui-025 .navbar li {
margin-left:50px
}

.ui-025 .main img {
z-index:0
}

.ui-025 .main img:hover {
width:250px;
height:350px;
z-index:1
}

.ui-026 {
width:100%;
height:100%;
margin:0;
padding:0;
overflow-y:hidden
}

.ui-026 .copyright {
padding-top:200px
}

.ui-026 .subscribe-box {
background-image:url(../img/paper-026.png);
background-size:cover;
min-height:500px;
bottom:0;
background-position:center;
left:0;
right:0;
padding-top:100px
}

.ui-026 .subscribe-box h1 {
letter-spacing:5px
}

.ui-026 .subscribe-box input[type="text"] {
border-radius:25px;
border:#efefef;
padding:20px;
min-width:300px;
outline:none;
margin:50px auto!important;
box-shadow:0 0 25px #27ae60
}

.ui-026 .subscribe-box input[type="submit"] {
border-radius:25px;
border:#efefef;
padding:20px;
min-width:150px;
margin:30px auto!important;
box-shadow:0 0 25px #27ae60
}

.ui-027 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-027 .button-dropdown {
border-radius:100%;
padding:20px;
margin-top:20px
}

.ui-027 .menu {
padding:20px;
border-radius:25px;
margin:30px;
top:30px
}

.ui-027 .menu ul {
list-style:none;
padding:0;
margin:0;
line-height:50px
}

.ui-027 .copyright {
border-top:1px solid #000;
padding-top:10px;
margin-top:250px
}

.ui-028 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-028 .contact-box .container {
margin:100px auto!important;
padding:50px 0;
border-radius:50px;
box-shadow:0 0 1px #e74c3c
}

.ui-028 .contact-box td {
padding-bottom:30px
}

.ui-028 .contact-box input[type="text"],.ui-028 .contact-box textarea {
width:100%;
outline:none;
border-radius:10px;
padding:10px;
box-sizing:border-box;
border:1px solid #e74c3c
}

.ui-028 .contact-box input[type="Submit"] {
padding:20px 50px;
border-radius:10px
}

.ui-029 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-029 .map-box {
margin:100px auto!important
}

.ui-029 .map-box .sidebar-right {
padding:20px 20px 20px 0 !important
}

.ui-029 .map-box .sidebar-right .maps {
background-image:url(../img/maps-029.png);
min-height:500px;
background-size:cover
}

.ui-029 .map-box .sidebar-left {
padding:50px
}

.ui-029 .map-box .sidebar-left .border-boxed {
border-left:10px solid #3498db;
padding-left:20px;
margin-bottom:150px
}

.ui-030 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-030 .pricing-box {
margin:100px auto!important
}

.ui-030 .pricing-box .right-side {
border-radius:15px;
padding:50px 0;
box-shadow:0 0 10px #bdc3c7
}

.ui-030 .pricing-box .left-side {
border-radius:15px;
padding:50px 0;
box-shadow:0 0 100px #bdc3c7
}

.ui-030 .pricing-box .buy-button {
padding:10px 40px;
border-radius:15px;
box-shadow:0 0 20px #bdc3c7
}

.ui-031 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-031 .upload-box {
margin:200px auto!important
}

.ui-031 .upload-box .upload-button {
border-radius:100%;
padding:30px;
box-shadow:5px 5px 50px #c0392b
}

.ui-032 {
width:100%;
height:100%;
margin:0;
padding:0;
background-image:url(../img/background-032.jpg);
background-size:cover;
background-position:center;
background-repeat:no-repeat
}

.ui-032 .donate-box {
margin:100px auto!important;
padding:100px 50px;
border-radius:25px;
opacity:.6;
box-shadow:0 0 30px #34495e
}

.ui-032 .donate-box form input[type="submit"] {
border-radius:25px;
padding:10px 30px;
box-shadow:0 0 30px #34495e;
letter-spacing:2px
}

.ui-033 {
width:100%;
height:100%;
margin:0;
padding:0;
overflow-y:hidden
}

.ui-033 .product-box {
margin:100px auto!important
}

.ui-033 .product-box .product-image-box {
padding:30px
}

.ui-033 .product-box .product-customize {
padding:50px
}

.ui-033 .product-box .product-customize .continue-buttun {
border-radius:25px;
box-shadow:0 0 10px #555;
padding:10px 40px
}

.ui-033 .product-box .product-customize .colors-items {
margin:50px 0!important
}

.ui-033 .product-box .product-customize .colors-items .color-item {
border-radius:100%;
width:40px;
height:40px;
border:2px solid #fff;
padding:10px;
margin-right:10px;
box-shadow:0 0 20px #555
}

.ui-034 {
width:100%;
height:100%;
margin:0;
padding:0;
background-image:url(../img/background-034.jpg);
background-size:cover;
background-position:left;
background-repeat:no-repeat
}

.ui-034 .car-interface .container {
margin-top:200px
}

.ui-034 .car-interface .circle-box {
border-radius:100%;
width:400px;
height:400px;
box-shadow:0 0 5px #ecf0f1;
padding-top:70px;
line-height:0
}

.ui-035 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-035 .post {
padding:25px;
line-height:30px;
margin:30px auto
}

.ui-036 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-036 .special-box {
padding:20px;
border:10px solid #fff;
border-radius:5px;
border-top-right-radius:50px;
box-shadow:0 0 25px #bdc3c7;
margin:100px auto 0!important
}

.ui-036 .special-box form input[type="submit"] {
padding:10px 30px;
outline:none;
border-radius:5px
}

.ui-037 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-037 .weather-box .col-3 {
border-radius:30px;
margin:100px auto!important;
overflow:hidden;
box-shadow:0 0 10px #2980b9
}

.ui-037 .weather-box .weather-box-top {
background:url(../img/background-037.png) no-repeat right center #3498db;
min-height:300px
}

.ui-037 .weather-box .weather-box-bottom {
padding:20px;
line-height:30px
}

.ui-037 .weather-box .weather-box-top .weather-location {
padding:80px 30px;
color:#dddcdd
}

.ui-038 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-038 .calendar-box {
margin:50px auto!important
}

.ui-038 .calendar-box td {
padding:20px
}

.ui-038 .calendar-box .today {
border-radius:100%;
width:20px;
height:20px
}

.ui-039 {
width:100%;
height:100%;
margin:0;
padding:0;
background:url(../img/background-039.jpg) center no-repeat #000;
background-size:50%
}

.ui-039 .quote-box {
opacity:.6;
border-radius:25px;
padding:20px;
margin:100px auto!important;
line-height:30px
}

.ui-040 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-040 .recipe-box {
border-radius:25px;
padding:20px;
margin:50px auto!important;
border:1px solid #bdc3c7;
box-shadow:0 0 20px #bdc3c7;
line-height:40px
}

.ui-040 .recipe-box h1 {
padding-bottom:20px;
border-bottom:1px solid #ecf0f1
}

.ui-040 .recipe-box ul {
list-style-type:square
}

.ui-040 .recipe-box .img-fluid {
margin:100px auto!important
}

.ui-041 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-041 .workout-box .col-4 {
border-radius:10px;
border:1px solid #bdc3c7;
box-shadow:0 0 20px #bdc3c7;
margin:70px auto!important;
padding:20px
}

.ui-041 .workout-box .col-4 h2 {
margin-bottom:-20px
}

.ui-042 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-042 .todo-box {
margin:70px auto!important;
padding:20px;
border-radius:25px;
overflow:hidden
}

.ui-042 .todo-box .todo-main {
border-radius:25px;
overflow:hidden;
box-shadow:0 0 25px #ccc
}

.ui-042 .todo-box .todo-header {
padding:20px
}

.ui-042 .todo-box .todo-container {
min-height:500px
}

.ui-042 .todo-box .todo-container .search-box {
padding:20px
}

.ui-042 .todo-box .todo-container .search-box input[type="text"] {
padding:20px;
border-radius:25px;
width:100%;
box-sizing:border-box;
border:1px solid #ecf0f1;
outline:none
}

.ui-042 .todo-box .todo-container .add-box {
padding:20px
}

.ui-042 .todo-box .todo-container .add-box input[type="submit"] {
border:5px dashed #2ecc71;
padding:20px;
border-radius:25px;
width:100%;
box-sizing:border-box
}

.ui-042 .todo-box .todo-container .todo-list {
padding:20px 40px;
line-height:50px;
letter-spacing:2px
}

.ui-042 .todo-box .todo-container .todo-list ul {
list-style:none;
margin:0;
padding:0
}

.ui-042 .todo-box .todo-container .todo-list ul li::before {
content:"\2022";
color:#2ecc71;
font-weight:700;
display:inline-block;
width:1em;
margin-left:-1em
}

.ui-043 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-043 .food-menu-box {
margin:70px auto!important
}

.ui-043 .food-menu-box .main-menu {
border-radius:5px;
overflow:hidden;
box-shadow:0 0 25px #ccc;
padding:20px;
min-height:500px
}

.ui-044 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-044 .favorite-box {
margin:150px auto!important
}

.ui-045 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-045 .info-card-box {
margin:100px auto!important
}

.ui-045 .info-card-box .info-card-item {
box-shadow:0 0 20px #7f8c8d;
min-height:500px
}

.ui-045 .info-card-box .data-box {
padding:30px 50px
}

.ui-046 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-046 .invoice-box {
margin:150px auto!important
}

.ui-046 .invoice-box h1 {
letter-spacing:15px;
margin-bottom:-8px
}

.ui-046 .col-5 {
padding:20px;
border-radius:10px;
box-shadow:0 0 15px #7f8c8d
}

.ui-046 .invoice-box td {
padding:5px
}

.ui-046 .invoice-box form {
margin-top:-20px
}

.ui-046 .invoice-box .pay-key {
padding:20px 30px;
border-radius:25px;
box-shadow:0 0 10px #3498db
}

.ui-047 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-047 .activity-box {
margin:100px auto!important
}

.ui-047 .activity-box .activity-list {
min-height:400px;
box-shadow:0 0 15px #ecf0f1;
padding:20px;
border-radius:15px
}

.ui-047 .activity-box .activity-list .activity-count {
border-radius:100%;
padding:5px;
width:100px;
height:100px
}

.ui-048 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-048 .container {
margin:100px auto!important
}

.ui-048 h1 {
letter-spacing:10px
}

.ui-049 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-049 .notification {
bottom:0!important;
right:0!important;
margin:20px
}

.ui-049 .notification-box {
padding:20px;
border-radius:25px;
margin-bottom:10px
}

.ui-050 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-050 .job-items {
margin:100px auto!important
}

.ui-050 .job-items .job-item {
border-radius:15px;
padding:20px;
box-shadow:0 0 10px #95a5a6;
margin-bottom:40px
}

.ui-050 .job-items .job-item .job-icon {
border-radius:100%;
width:42px;
height:42px;
padding:8px 5px 2px;
box-shadow:0 0 10px #95a5a6
}

.ui-050 .job-items .job-item .job-item-right {
line-height:15px
}

.ui-050 .job-items .job-item .job-item-right .job-buttun a {
padding:10px 20px;
border-radius:10px
}

.ui-051 {
width:100%;
height:100%;
margin:0;
padding:0;
background:url(../img/background-051.jpg) center no-repeat;
background-size:100%
}

.ui-051 .container {
margin-top:150px
}

.ui-051 .container h1 {
letter-spacing:7px
}

.ui-051 .container li {
margin-right:40px;
padding:15px;
border:1px solid #fff;
border-radius:25px;
letter-spacing:2px
}

.ui-052 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-052 img {
margin-top:150px
}

.ui-053 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-053 .menu-box {
width:100%;
margin:200px auto
}

.ui-053 .menu-box .menu {
padding:5px;
box-sizing:border-box;
border-radius:15px;
box-shadow:0 0 20px #bdc3c7
}

.ui-053 .menu-box .menu ul,.ui-053 .menu-box .menu li {
display:inline-block
}

.ui-053 .menu-box .menu li {
margin-left:20px;
width:100px;
text-shadow:0 0 2px #bdc3c7
}

.ui-054 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-054 .confirm-box {
margin:100px auto!important;
padding:50px 30px;
border-radius:10px;
box-shadow:0 0 20px #bdc3c7
}

.ui-054 .confirm-box h1 {
letter-spacing:10px
}

.ui-054 .confirm-box p {
letter-spacing:2px
}

.ui-054 .confirm-box .confirm-buttun {
border-radius:5px;
padding:10px 30px;
box-shadow:0 0 20px #bdc3c7
}

.ui-055 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-055 .container {
margin:100px auto!important
}

.ui-055 .icons p {
padding:50px
}

.ui-056 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-056 .breadcrumbs-menu {
margin:100px auto!important;
padding:20px;
width:100%
}

.ui-056 .breadcrumbs-menu ul {
padding:0;
margin:0;
border-radius:25px;
box-shadow:0 0 20px #bdc3c7
}

.ui-056 .breadcrumbs-menu li {
margin-left:20px;
padding:20px;
border-radius:25px
}

.ui-057 {
width:100%;
height:100%;
margin:0;
padding:0;
background:url(../img/background-057.jpg) center no-repeat fixed;
overflow-y:hidden;
background-size:100%
}

.ui-057 .video-player {
bottom:0;
height:60px;
background:#759eba;
width:100%;
opacity:.5;
box-shadow:0 0 20px #002029;
text-shadow:0 0 10px #002029;
padding:20px
}

.ui-057 .video-player .progress-video-player {
box-shadow:0 0 20px #002029;
height:3px;
width:90%;
margin-top:10px!important
}

.ui-057 .video-player .progress-video-player::before {
content:'02:33';
font-size:15px;
float:left;
margin-top:-10px;
margin-left:-50px;
color:#fff;
text-shadow:0 0 10px #002029
}

.ui-057 .video-player .progress-video-player .progress-video-player-fill {
background:#002029;
width:40%;
box-shadow:0 0 20px #002029;
height:3px
}

.ui-058 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-058 .card .visa {
border-radius:25px;
padding:20px 30px;
margin:100px auto!important;
box-shadow:0 0 20px #9b59b6
}

.ui-059 {
width:100%;
height:100%;
margin:0;
padding:0;
background:url(../img/background-059.png);
background-repeat:all
}

.ui-059 .copyright {
bottom:20px;
border-left:40px solid #000;
text-indent:20px
}

.ui-060 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-061 {
width:100%;
height:100%;
margin:0;
padding:0;
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-062 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-063 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-064 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-065 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-066 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-067 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-068 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-069 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-070 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-071 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-072 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-073 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-074 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-075 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-076 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-077 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-078 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-079 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-080 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-081 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-082 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-083 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-084 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-085 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-086 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-087 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-088 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-089 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-090 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-091 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-092 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-093 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-094 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-095 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-096 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-097 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-098 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-099 {
width:100%;
height:100%;
margin:0;
padding:0
}

.ui-100 {
width:100%;
height:100%;
margin:0;
padding:0
}