@charset "UTF-8";

/* --- Main Layout : layout.css --- */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	text-decoration: none;
}
div {
	box-sizing: border-box;
}


/* UI-index */
.ui-index {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-index .col-12 {
	margin: 100px 0;
}
.ui-index li {
	margin-bottom: 20px;
}
.ui-index li a {
	font-weight: bold;
}


/* UI-001 */
.ui-001 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-001 .right-side {
	height: 100vh;
}
.ui-001 .left-side {
	height: 100vh;
	background: url(../img/background-001.jpg) center top;
}
.ui-001 .left-side .left-side-section1 {
	top: 0;
}
.ui-001 .left-side .left-side-section2 {
	margin: auto;
    top:40%;
}
.ui-001 .left-side .left-side-section3 {
	width: 60px;
	bottom: 20px;
}

.ui-001 .right-side .menu {
	padding:20px;
}
.ui-001 .right-side .copyright {
	width: 150px;
	bottom: 10px;
	right: 30px;
}
.ui-001 .sign-up-form {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 20px;
	box-shadow: 0 0 3px #ffffff;
	border-radius: 20px;
	max-height: 300px;
}
.ui-001 .sign-up-form h2 {
	border-bottom: 1px solid #e74c3c;
	padding-bottom: 10px;
	width: 60px;
	margin-bottom: 20px;
}
.ui-001 .sign-up-form input {
	margin-bottom: 20px;
}
.ui-001 .sign-up-form input[type="text"], .ui-001 .sign-up-form input[type="password"] {
	outline: none;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	font-size: 2vh;
}
.ui-001 .sign-up-form input[type="submit"] {
	padding: 5px;
	width: 80%;
	box-sizing: border-box;
	border-radius: 20px;
	cursor: pointer;
	font-size: 1.5vh;
}


/* UI-002 */
.ui-002 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-002 .main-box {
	margin-top: 100px;
	display: block;
}
.ui-002 .left-side {
	min-height: 500px;
	padding: 25px;
}
.ui-002 .right-side {
	min-height: 500px;
	padding: 5px;
}
.ui-002 .product-image {
	margin: 50px 0 0 -100px;
}
.ui-002 .container {
	box-shadow: 0 0 1000px #555555;
	padding: 0;
}
.ui-002 .price {
	line-height: 0px;
	margin-top: 50px;
	letter-spacing: 5px;
}
.ui-002 .pay-form {
	width: 90%;
}
.ui-002 .pay-form label {
	width: 100%;
	letter-spacing: 5px;
	color: #666666;
}
.ui-002 .pay-form input[type="text"] {
	border: none;
	border-bottom: 1px solid #666666;
	width: 95%;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	font-size: 20px;
	padding-bottom: 10px;
	padding-left: 0px;
	letter-spacing: 5px;
	margin-top: 10px;
}
.ui-002 .pay-form input[type="submit"] {
	border-radius: 50px;
	padding: 20px 40px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-top: 10px;

}
.ui-002 .pay-form #cvs, .ui-002 .pay-form #expiredate {
	width: 98% !important;
}
.ui-002 .pay-form .section1 {
	margin-bottom: 100px;
}
.ui-002 .pay-form .section2 {
	margin-bottom: 100px;
}
.ui-002 .pay-form .section3 {
	
}
.ui-002 .pay-form .section1 input {
	width: 100% !important;
}
.ui-002 .pay-form .section1 span {
	color: #34495e
}


/* UI-003 */
.ui-003 {
	overflow-y:hidden;
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-003 .header .header-top .navbar li {
	margin-left: 40px;
}
.ui-003 .header .header-bottom {
	padding: 20px 0;
}
.ui-003 .header .header-bottom .information {
	letter-spacing: 3px;
}
.ui-003 .header .header-bottom .information p span:nth-child(even) {
	width: 200px;
	display: inline-block;
}
.ui-003 .header .header-bottom .heading {
	padding-top:28.8px;
}
.ui-003 .content {
	width: 100%;
	min-height: 75vh;
	background: url(../img/background-003.jpg);
	background-size: cover;
}
.ui-003 .form {
	
}
.ui-003 .form form {
	border-radius: 15px;
	padding: 20px;
	background: #eeeeee;
	margin-top: 70px;
}
.ui-003 .form table {
	width: 100%;
	max-width: 500px;
}
.ui-003 .form td:nth-child(1), .ui-003 .form td:nth-child(3) {
	width: 48%;
}
.ui-003 .form table input[type="text"] {
	outline: none;
	border: 1px solid #aaa;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.ui-003 .form table select {
	outline: none;
	border: 1px solid #aaa;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.ui-003 .form table .flight-type {
	border: none !important;
	background: #eeeeee;
	width: 110px;
}
.ui-003 .form table input[type="submit"] {
	outline: none;
	border: none;
	cursor: pointer;
	padding: 10px 50px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 20px;
}
.ui-003 .form .copyright {
	margin-top: 15px;
}


/* UI-004 */
.ui-004 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-004 .main-container {
	padding:200px 0;
}
.ui-004 .calculator {
	box-shadow: 0px 0px 500px #000000;
}
.ui-004 .display {
	min-height: 200px;
	padding: 20px;
}
.ui-004 .operation {
	line-height: 0;
	letter-spacing: 3px;
}
.ui-004 .result {
	line-height: 0;
	letter-spacing: 5px;
}
.ui-004 .keyboard {
	min-height: 300px;
	padding: 20px;
}
.ui-004 .key-button {
	margin-bottom: 10px;
	padding-top: 30px;
	height: 90px;
	border-radius: 100%;
	cursor: pointer;
}
.ui-004 .key-indent {
	padding: 5px;
} 


/* UI-005 */
.ui-005 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-005 .app-icon {
	padding-top: 70px;
}


/* UI-006 */
.ui-006 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-006 .user-profile {
	padding-top: 100px;
}
.ui-006 .user-profile .shadow-box {
	box-shadow: 0 0 150px #7f8c8d;
	max-height: 550px;
}
.ui-006 .avatar-box img {
	width: 100%;
}
.ui-006 .avatar-box .follow-button {
	cursor: pointer;
	letter-spacing: 3px;
	margin: -100px 180px;

}
.ui-006 .avatar-box .follow-button p{
	box-shadow: 0 0 50px #2980b9;
	border-radius: 50px;
	padding: 15px 50px;
}
.ui-006 .profile-box {
	max-height: 550px;
	padding: 50px;
}
.ui-006 .profile-box .biography {
	line-height: 40px;
	margin:20px 0;
}
.ui-006 .profile-box h5 {
	letter-spacing: 5px;
}
.ui-006 .profile-box .number {
	letter-spacing: 3px;
}


/* UI-007 */
.ui-007 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-007 .navbar-setting, .ui-007 .content-setting {
	height: 100vh;
}
.ui-007 .navbar-setting h1 {
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
	text-indent: 20px;
}
.ui-007 .navbar-setting ul {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.ui-007 .navbar-setting li {
	margin-bottom: 30px;
	width: 100%;
	padding: 10px 0;
	text-indent: 30px;
}
.ui-007 .navbar-setting ul .active {
	border-right: 25px solid #000;
}

.ui-007 .content-setting {
	padding:100px;
}
.ui-007 .content-setting .row {
	margin-bottom: 50px;
}
.ui-007 .content-setting .row p {
	line-height: 40px;
}
.ui-007 .on-off {
	border-radius: 50px;
	width: 70px;
	height: 40px;
	padding: 10px;
	cursor: pointer;
	margin-right: 30px;
}
.ui-007 .on-off .on-button {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border:1px solid #eee;
	cursor: pointer;
}
.ui-007 .on-off .off-button {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border:1px solid #eee;
	cursor: pointer;
}
.ui-007 .copyright {
	border-top: 1px solid #fff;
	bottom: 0;
	text-indent: 20px;
	padding-right: 50px;
}


/* UI-008 */
.ui-008 {
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}
.ui-008 .page-404 {
	margin: 70px auto;
}
.ui-008 .search-box {
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #000;
	margin-top: 30px;
	outline: none;
	box-sizing: border-box;
}
.ui-008 .image-box {
	margin-top: 30px;
}
.ui-008 .image-box .col-3 {
	padding: 25px;
}
.ui-008 .image-box .col-3 a {
	width: 100%;
	height: 100%;
}
.ui-008 .image-box .col-3 p {
	line-height: 30px;
}